@import "./animations.styles.scss";
@import "./mixins.styles.scss";
@import "./variables.styles.scss";
@import "./other.styles.scss";
.windows-background {
  @include flex(row, center, center);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.411);
}
