//Colors variables
$background-color: #f6f5fa;
$main-color: #ffffff;
$selection-color: #1e239c;
$selection-color-second: #2c3862;
$action-color: #eb6e3d;
$text-main-color: #161616;
$text-secondary-color: #b6b6b6;
$deccept-color: #d93128;
$accept-color: #7ec544;
//Font variables
$logo-font: "Alata";
$font-family: "Rubik";
$title-text-size: 18px;
$main-text-size: 16px;
$addiction-text-size: 14px;
//Size variables
$workspace-maxwidth: 1920px;
$box-radius: 6px;
